@import 'src/Asset/Scss/breakpoints.scss'; 

.head-banner{
    width: 100%;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;

    background-position: center 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .image-background{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .center-content{
        .title{
            font-size: 48px;
            color: var(--main-yellow);
            line-height: 1.5;
            font-weight: 300;
            @media (max-width: $bp-s) {
                font-size: 36px;
            }
        }
        .content{
            color: var(--white-two);
            font-size: 24px;
            font-weight: 500;
            line-height: 1.5;

            margin-bottom: 30px;
            @media (max-width: $bp-s) {
                font-size: 18px;
            }
        }
        .input-side{
            display: flex;
            width: 100%;
            max-width: 400px;
            height: 46px;

            border: 1px solid var(--white-two);
            position: relative;   
            @media (max-width: $bp-s) {
                max-width: 300px
            }         
            input{
                background-color: transparent;
                color: white;
                width: 100%;
                height: 46px;

                outline:none;
                border: 0;
                padding: 5px 15px;
                font-weight: 600;
                &::placeholder{
                    color: var(--white-two);
                    font-weight: 300;
                }
                &:ms-input-placeholder{
                    color: var(--white-two);
                    font-weight: 300;
                }
                &::ms-input-placeholder{
                    color: var(--white-two);
                    font-weight: 300;
                }
            }
            .icon-search{
                display: flex;
                justify-content: center;
                align-items: center;
                width:46px;

                height: 46px;
                cursor: pointer;
                img{
                     width: 22px;
                     height: 20px;
                }
                .image-icon-white{
                    display: block;
                }
                .image-icon-black{
                    display: none;
                }
            }
            &.hover{
                border-radius: 4px;
                border: 0;
                input{
                    background-color: var(--white-two);
                    color: var(--black);
                    border-radius: 4px 0 0 4px;
                }
                input::placeholder{
                    color: var(--black);
                }
                .icon-search{
                    background-color: var(--white-two);
                    border-radius: 0 4px 4px 0;
                    .image-icon-white{
                        display: none;
                    }
                    .image-icon-black{
                        display: block;
                    }
                }
            }
            .suggestions{
                position: absolute;
                content: '';
                left: 0;
                top: calc(100% + 20px);

                width: 100%;
                
                background-color: var(--white-two);
                z-index: 999;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                &::before{
                    position: absolute;
                    content: '';
                    left: 15px;
                    top: -5px;

                    z-index: 99;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    
                    border-bottom: 5px solid var(--white-two);
                }
                .wrapper{
                    padding :0 10px;                    
                    .item{
                        padding: 10px 0;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        &:not(:last-child)
                        {
                            border-bottom: 2px solid var(--white-three);
                        } 
                        .icon-lightening{
                            width: 8px;
                            height: 16px;
                            margin-right: 5px;
                            margin-left: 5px;
                        }    
                        .content-search{
                            color: var(--light-gray-text);
                            font-size: 15px;
                            white-space: nowrap;
                            overflow: hidden;
                            span{
                                text-transform: capitalize;
                            }
                        }                   
                    }
                    .not-found{
                        padding: 10px 0;
                        color: var(--light-gray-text);
                        font-size: 15px;
                    }
                }
            }
        }
    }
}