:root{
    --main-yellow: #d0ba93;
    --main-border-yellow: rgb(217, 199, 172);
    --red: rgb(255, 80, 82);
    --orange: rgb(255, 133, 82);
    --light-orange: rgb(255, 181, 82);
    --light-yellow: rgb(255, 217, 81);
    --light-green: rgb(132, 222, 85);
    --green: rgb(77, 225, 133);
    --light-blue: rgb(75, 214, 226);
    --white-two: #FFFFFF;
    --white-three: #ecebe9;
    --light-gray-text: #b2b2b2;
    --light-gray: #b2b2b2;
    --dark-gray: #5e5e5e;;
    --black: #000000;
}